<div class="container-fluid">

  <div class="row">

    <div class="col-md-12">
      <div on-mouseover='expand(item)' on-mouseleave='collapse(item)' [@animationState]='item.animationState' class="col-md-2" style="padding-left: 0 !important; padding-right: 0 !important;" *ngFor="let item of items; let i = index; trackBy: trackByFn">
        <item-horizontal [item]="item"></item-horizontal>
      </div>
    </div>

  </div>

</div>

<div class="container">

  <div class="row">

    <div class="col-md-8">

      <div on-mouseover='expand(item)' on-mouseleave='collapse(item)' [@animationState]='item.animationState'
              *ngFor="let item of items; let i = index; trackBy: trackByFn">
        <item-detail [item]="item"></item-detail>
      </div>

    </div>

    <div class="col-md-4">

      <div *ngFor="let item of items; let i = index; trackBy: trackByFn">
        <pre>{{item | json}}</pre>
      </div>

    </div>

  </div>

</div>
