.box-title {
    color: #FFF;
    padding: 5px;
}

.box-row{
    border: 2px solid rgba(23, 123, 185, 0.81);
}

.general-box {
    background-color: #006baf;
}

.ranking-box{
    background-color: #005b94;
    color: #FFF !important;
    width: 95%;
    margin:0 auto;
}

.team{
    text-align: left;
    background-color: #005b94;
}

.points{
    background-color: #3c9fdc;
}