<div class="main-left left">

    <div class="general-box">

        <div class="box-title">
            <h1>CLASSIFICA</h1>
        </div>

        <div class="clear"></div>

        <ul class="head-class">
            <li>
                <span class="place">&nbsp;</span>
                <span class="team">SQUADRA</span>
                <div class="points">P</div>
            </li>
        </ul>

        <ul>
            <li>
                <span class="place">1</span>
                <span class="team">Juventus</span>
                <div class="points">33</div>
            </li>

            <li>
                <span class="place">2</span>
                <span class="team">Roma</span>
                <div class="points">26</div>
            </li>

            <li>
                <span class="place">3</span>
                <span class="team">Milan</span>
                <div class="points">25</div>
            </li>

            <li>
                <span class="place">4</span>
                <span class="team">Napoli</span>
                <div class="points">24</div>
            </li>

            <li>
                <span class="place">5</span>
                <span class="team">Lazio</span>
                <div class="points">22</div>
            </li>

            <li>
                <span class="place">6</span>
                <span class="team">Atalanta</span>
                <div class="points">22</div>
            </li>

            <li>
                <span class="place">7</span>
                <span class="team">Torino</span>
                <div class="points">19</div>
            </li>

            <li>
                <span class="place">8</span>
                <span class="team">Chievo</span>
                <div class="points">18</div>
            </li>

            <li>
                <span class="place">9</span>
                <span class="team">Fiorentina</span>
                <div class="points">17</div>
            </li>

            <li>
                <span class="place">10</span>
                <span class="team">Inter</span>
                <div class="points">17</div>
            </li>

            <li>
                <span class="place">11</span>
                <span class="team">Genoa</span>
                <div class="points">16</div>
            </li>

            <li>
                <span class="place">12</span>
                <span class="team">Cagliari</span>
                <div class="points">16</div>
            </li>

            <li>
                <span class="place">13</span>
                <span class="team">Sampdoria</span>
                <div class="points">15</div>
            </li>

            <li>
                <span class="place">14</span>
                <span class="team">Udinese</span>
                <div class="points">15</div>
            </li>

            <li>
                <span class="place">15</span>
                <span class="team">Bologna</span>
                <div class="points">13</div>
            </li>

            <li>
                <span class="place">16</span>
                <span class="team">Sassuolo</span>
                <div class="points">13</div>
            </li>

            <li>
                <span class="place">17</span>
                <span class="team">Empoli</span>
                <div class="points">10</div>
            </li>

            <li>
                <span class="place">18</span>
                <span class="team">Pescara</span>
                <div class="points">7</div>
            </li>

            <li>
                <span class="place">19</span>
                <span class="team">Palermo</span>
                <div class="points">6</div>
            </li>

            <li>
                <span class="place">20</span>
                <span class="team">Crotone</span>
                <div class="points">5</div>
            </li>


        </ul>
    </div>

</div>